$primary_color: #F199C5;
$secondary_color: #000000;
$tertiary_color: #F1F2EE;
$fourth_color: #100F0F;

$init_padding: 50px;

//Breakpoints :
$breakpoints: (
  xs: 0,
  sm: 576px, //Mobile
  md: 768px, //Tablette
  lg: 992px, //Laptop
  xl: 1200px, //Grand Latop
  xxl: 1400px //Latop L
);
